  h1{
    justify-content: center;
    text-align: center;
  }
  

  h2{
    justify-content: center;
    text-align: center;
  }

  h4{
    padding-left: 50px;
  }

  img{
    border: 10px solid #555;
  }

  .singletab{
    margin-left:50px;
    display:inline-block;
    line-height: 2;
  }

  .doubletab{
    margin-left:100px;
    display:inline-block;
    line-height: 2;
  }

  .centercontainer{
    width:100%;
    text-align:center;
    justify-content:center;
  }

  /* Background color for top */
  .topnav {
    background-color: #115E91;
    overflow: hidden;
    display:flex;
    justify-content: center;
  }


  /* Color for links */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 19px;
  }
  
  /* Color for hovering */
  .topnav a:hover {
    background-color: #ABB3E9;
    color: black;
  }

   /* Color for current link */
   .topnav a.active {
    background-color: #239EF0;
    color: black;
  }

  /* Background color for top */
  .topnav2 {
    background-color: #115E91;
    overflow: hidden;
    display:flex;
    justify-content: center;
  }
  /* Color for links */
  .topnav2 a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 19px;
  }
  
  /* Color for hovering */
  .topnav2 a:hover {
    background-color: #ABB3E9;
    color: black;
  }

   /* Color for current link */
   .topnav2 a.active {
    background-color: #239EF0;
    color: black;
  }